/* ***** ----------------------------------------------- ***** **
** ***** Setup/Base
** ***** ----------------------------------------------- ***** */

:root {
  @apply bg-grey-dark-2;
  font-size: 62.5%;
}

*::selection {
  @apply bg-grey-light-a text-white;
}

html {
  -webkit-overflow-scrolling: touch;
}

body {
  @apply text-body text-grey-light-a antialiased;
  -ms-text-size-adjust: 100%;
}

html,
body,
#__nuxt,
#__layout,
#__layout > div {
  @apply h-full;
}

#__layout > div {
  @apply flex flex-col;
}

a {
  @apply text-grey-light-c hover:text-grey-dark-6 active:text-grey-light-c no-underline
    transition-colors duration-slow;
}

button {
  @apply text-body;
}

svg {
  @apply inline-block fill-current;
}

input,
textarea {
  @apply bg-transparent text-body rounded-none outline-none focus-visible:outline-none;
}
